{
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint", "@typescript-eslint/tslint", "react", "jest"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "react-app",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-explicit-any":  ["warn", { "ignoreRestArgs": false }],
    "@typescript-eslint/tslint/config": [
      "error",
      {
        "rules": {
          "ordered-imports": [
            true,
            {
              "module-source-path": "full",
              "grouped-imports": true,
              "import-sources-order": "lowercase-first",
              "groups": [
                {
                  "match": "^react",
                  "order": 1
                },
                {
                  "name": "Components",
                  "match": "^@components\/",
                  "order": 20
                },
                {
                  "name": "Utilities",
                  "match": "^@utilities\/",
                  "order": 30
                },
                {
                  "name": "Parent directory",
                  "match": "^[.][.]",
                  "order": 40
                },
                {
                  "name": "Current directory",
                  "match": "^[.]",
                  "order": 50
                },
                {
                  "name": "Vendors & Packages",
                  "match": "^[^\\.]",
                  "order": 10
                }
              ]
            }
          ]
        }
      }
    ],
    "import/no-default-export": "warn",
    "react/self-closing-comp": "warn",
    "jsx-a11y/anchor-is-valid": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
