@import '~@portfolio-app/styles/src/properties/sizes';

.acbInfo {
  &_card {
    display: flex;

    img {
      max-width: 200px;
    }
  }

  &_buttons {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
