@import "./sizes.scss";

$space_2xs: $base; // 4px
$space_xs: 2 * $base; // 8px
$space_s: 3 * $base; // 12px
$space_m: 4 * $base; // 16px
$space_l: 5 * $base; // 20px
$space_xl: 6 * $base; // 24px
$space_2xl: 8 * $base; // 32px
$space_3xl: 10 * $base; // 40px
$space_4xl: 12 * $base; // 48px
