@mixin includeFont($fontName, $fontType, $fontWeight, $fontStyle) {
  @font-face {
    src: url("../fonts/#{$fontName}-#{$fontType}.ttf") format("truetype");

    font-family: "#{$fontName} #{$fontType}";
    font-weight: $fontWeight;
    font-style: $fontStyle;
    font-display: swap;
  }
}

@mixin baseFontProps($fontSize, $fontWeight, $lineHeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}
