@import "../colors/main.scss";
@import "../properties/sizes.scss";
@import "../mixins/font-mixins.scss";

html,
body,
:global(#root) {
  height: 100%;
}

body {
  color: $main_color;
  white-space: pre-line;
  font-family: 'Roboto Light', monospace;

  @include baseFontProps($font_m, 400, 1);
}
