@import '~@portfolio-app/styles/src/mixins/font-mixins';
@import '~@portfolio-app/styles/src/properties/sizes';
@import '~@portfolio-app/styles/src/properties/spacing';

.gridLayout {
  margin-top: 10px;

  &__container {
    min-height: 100%;
    padding-top: $base * 20;
  }
}

.NavBar {
  &__toolbar {
    justify-content: center;
  }

  &__menu {
    display: flex;
    flex-basis: 70%;
    margin-left: $space_m;

    button, a {
      margin-right: $space_m;
    }
  }

  &__tabItem {
    @include baseFontProps($font_s, 400, 1);
  }
}
